<div class="Pages">
<app-pagecard>
    <img src="https://yt3.googleusercontent.com/qcmNO_rYyGCg0GuDdy5EeFTiTmZWHryVTCLumINe-ihVYgWXl-92pzAaaRZVMBz8Q9azPeHVC7s=s900-c-k-c0x00ffffff-no-rj" alt="">
</app-pagecard>
<app-pagecard>
    <img src="https://t.ctcdn.com.br/Wl2ilBJi0ZFEzeNgF8dC57PS_g8=/400x400/smart/i489927.jpeg" alt="">
</app-pagecard>
<app-pagecard>
    <img src="https://t.ctcdn.com.br/rN4f2Z8fsqpbKVA6eAmaiFNjv9Y=/400x400/smart/i490024.jpeg" alt="">
</app-pagecard>
<app-pagecard>
    <img src="https://user-images.githubusercontent.com/709451/182802334-d9c42afe-f35d-4a7b-86ea-9985f73f20c3.png" alt="">
</app-pagecard>
</div>